<div class="flex flex-col items-center w-2xl">
  <h1 class="text-xl font-bold text-center mb-4">Agent FAQ &#x1F916;</h1>

  <div id="chat-container" class="w-full max-w-xl border bg-gray-50 border-gray-300 rounded-md shadow-lg p-4 flex flex-col h-[500px]">
    <div id="chat-messages" class="flex flex-col overflow-y-auto h-full space-y-2 pb-4">
      <!-- Messages are inserted here -->
    </div>

    <div id="chat-form" class=" border-sky-200 pt-2">
      <%= form_with url: "/ask", method: :post, data: { controller: "chat", action: "submit->chat#submit", turbo: true }, class: "flex space-x-2" do |form| %>
        <%= form.text_field :query, placeholder: "Ask a question...", class: "chat-input flex-1 p-2 border border-gray-300 rounded-md text-gray-500", data: { chat_target: "input" } %>
        <%= form.submit "Ask", class: "chat-submit bg-indigo-500 text-white px-6 rounded-md hover:bg-indigo-600" %>
      <% end %>
    </div>
  </div>
</div>
